
<div class="card m-3" >
    <div class="card-body">
        <h1>Edit Template</h1>
        <form #form="ngForm" (ngSubmit)="updateTempate()">
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Language</label>
                    <input kendoTextBox  class="form-control" id="language"
                    name="language" [(ngModel)]="templateDetails.language"> 
                </div>
                <div class="form-group col-5">
                    <label>Name</label>
                    <input kendoTextBox  class="form-control" id="name"
                    name="name" [(ngModel)]="templateDetails.name"> 
                </div>
                <div class="form-group col-5">
                    <label>modifiedBy</label>
                    <input kendoTextBox  class="form-control"  id="modifiedBy"
                    name="modifiedBy" [(ngModel)]="templateDetails.modifiedBy"> 
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>project</label>
                    <kendo-dropdownlist 
                    [data]="projectNames" class="form-control" id="ProjectName"
                    name="ProjectName"  [(ngModel)]="project.projectName">
                   </kendo-dropdownlist>
                </div>
                <div class="form-group col">
                    <label>Content</label>
                    <kendo-editor
                    class="form-control"  id="content"
                    name="content" [(ngModel)]="templateDetails.content"></kendo-editor>
                </div>
            </div>
            <kendo-dialog-actions>
                <button kendoButton  type="submit" >Save</button>
                <button kendoButton routerLink="ListTemplate" >Cancel</button>
              </kendo-dialog-actions>
        </form>
    </div>