
<div class="card" style="    width:50% ;
margin-left: 20%;
margin-top: 1%;
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.26);" >
  <div class="card-body">
    <div class="titleEditTemplateDialog">
        <span class="k-icon k-i-edit" style="padding-bottom: 1%;font-size: 20px; color: #286ea1 "></span> 
        <div class="EditTemplateTitle"> Edit Template</div>
    </div>     
    <!--row word is important not form-row !!!!-->
    <div class="form-row row">
        <div class="col-md" >
            <form [formGroup]="ngForm" >
                <div class="row">
                    <div class="col-6">
                        <label class="label-EditTemplate">Template Name</label>
                    </div>
                    <div class="col-6">
                        <label class="label-EditTemplate">Modified By</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group" >
                            <div class="input-field-template" >
                                <input class="form-control" id="name"
                                formControlName="name" type="text" placeholder="Name" 
                                [(ngModel)]="templateDetails.name" >
                            </div>
                        </div>                   
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <div class="input-field-template"  >
                                <input class="form-control" id="modifiedBy" type="text" 
                                 formControlName="modifiedBy" [(ngModel)]="employee.employeeName"
                                 readonly >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label class="label-EditTemplate">Language</label>
                    </div>
                    <div class="col-6">
                        <label class="label-EditTemplate">Project Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <kendo-dropdownlist  
                            [data]="languages" class="form-control" id="language" 
                            formControlName="language" [(ngModel)]="templateDetails.language">                
                           </kendo-dropdownlist>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <kendo-dropdownlist 
                            [data]="projects" [textField]="'projectName'" [valueField]="'projectName'" formControlName="projectName"
                            [(ngModel)]="project" id="project.projectId" >
                           </kendo-dropdownlist>
                        </div>
                    </div>
                </div>               
                <label class="label-EditTemplate">Template Content</label>
                <div class="form-group">
                    <kendo-editor class="form-control custom-editor"  id="content" [iframe]="false" name="content"
                    #editor
                     [(ngModel)]="templateDetails.content" [(value)]="templateDetails.content" >
                        <kendo-toolbar>
                            <kendo-toolbar-button kendoEditorBoldButton></kendo-toolbar-button>
                            <kendo-toolbar-button kendoEditorItalicButton></kendo-toolbar-button>
                            <kendo-toolbar-button kendoEditorUnderlineButton></kendo-toolbar-button>
                            <kendo-toolbar-button kendoEditorStrikethroughButton></kendo-toolbar-button>
                            <kendo-upload></kendo-upload>
                            <kendo-toolbar-button
                            text="Upload Image"
                            (click)="openImage()"
                          ></kendo-toolbar-button> 
                          <kendo-toolbar-button
                          text="Add Feature"
                          (click)="openFeature()"
                          ></kendo-toolbar-button>  
                          <kendo-editor-insert-table-button></kendo-editor-insert-table-button>                                                             
                        </kendo-toolbar>
                    </kendo-editor>
                    <app-image-dialog #upload [editor]="editor"></app-image-dialog>
                </div>
            </form>
            <div class="form-group">
                <div class="row" style="margin-left: 30%; margin-top: 5%;" >
                  <div class="col">
                    <button kendoButton type="reset" (click)="cancel()" class="cancelEditTemplate">Cancel</button>
                    <button  (click)="onSubmit()" class="saveEditTemplate">Save</button>
                  </div>
                </div>
            </div>  
    </div>

</div>

<!-- add features dialog -->
<kendo-dialog *ngIf="openedFeature" [width]="500" [height]="250"  >
    <div class="titleAddFeatureDialog">
      <span class="k-icon k-i-track-changes-accept" style="padding-bottom: 2%;font-size: 25px; color: #286ea1 "></span> 
      <div class="addFeatureTitle"> Add new Feature</div>
    </div>   
    <form  [formGroup]="featureForm">
        <div class="form-group">
        <div class="row">
            <div class="col-3">
                <label  class="label-addFeature">Feature Name</label>
            </div>
            <div class="col-9">
                <div class="input-field-addFeature">
                <input class="form-control" formControlName="featureName" 
                type="text" id="featureName" [(ngModel)]="featureName">
                </div>
            </div>
            </div>
        </div>     
    </form> 
    <div class="form-group">
        <div class="row" style="margin-left: 10%; margin-top: 5%;" >
          <div class="col">
            <button kendoButton (click)="closeDialog()" class="cancelAddFeature">Cancel</button>
            <button   (click)="onSubmitFeature()" class="saveAddFeature">Add Feature</button>
          </div>
        </div>
    </div>    
  </kendo-dialog>
  