
<div class="row">
    <div class="col-md-6 " >
      <div class="title">
        <h2> Templates List</h2>
        <h2> Templates List</h2>
      </div>   
    </div>
    <div class="col-md-4 "  >
      <kendo-button (click)="openDialog()" class="addButton" *ngIf="!disabledCreate" >
        <span class="k-icon k-i-plus"  style="font-size: 25px; color:  #fff "></span> 
        Create Template
      </kendo-button>
    </div>
</div>  
<br> 
<div class="container">
    <kendo-grid   
    [kendoGridBinding]="gridDataUser"  
    [pageable]="true"  
    [pageSize]="pageSize"
    [style]="{'width':'100%'}">
    <kendo-grid-column field="name" title="Name" [width]="130"></kendo-grid-column>
    <kendo-grid-column field="language" title="Language" [width]="120"></kendo-grid-column>

    <kendo-grid-column field="modifiedBy" title="Modified By" [width]="140"> 
        <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem?.templateModifiedBy?.employeeName}}
        </ng-template>  
    </kendo-grid-column>

    <kendo-grid-column field="createdDate" title="CreatedDate" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="modifiedDate" title="ModifiedDate" [width]="200"> </kendo-grid-column>

    <kendo-grid-column field="createdBy" title="Created By" [width]="140"   >
        <ng-template kendoGridCellTemplate let-dataItem  >
        <td [ngClass]="{'user-line': dataItem?.templateCreatedBy?.employeeName === user.employeeName }"> 
            {{dataItem?.templateCreatedBy?.employeeName}}</td>
        </ng-template>  
    </kendo-grid-column>

    <kendo-grid-column field="project" title="Project" [width]="150">
        <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem?.project?.projectName}}
        </ng-template>  
    </kendo-grid-column>
    
    <kendo-grid-column field="action" title="Actions" [width]="200"> 
        <ng-template kendoGridCellTemplate let-dataItem>
          <button kendoButton icon="pencil" class="button" (click)="updateTemplate(this.dataItem.templateId)" ></button>
          <button kendoButton icon="trash" class="button" (click)="ShowDeleteTemplate(this.dataItem.templateId)" ></button>
          <button kendoButton icon="eye" class="button" (click)="viewTemplateHistoric(this.dataItem.templateId)" ></button>
        </ng-template>
      </kendo-grid-column>

    <ng-template
        kendoPagerTemplate
        let-totalPages="totalPages"
        let-currentPage="currentPage"
    >
        <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
        <kendo-pager-numeric-buttons
        [buttonCount]="buttonCount"
        ></kendo-pager-numeric-buttons>
        <kendo-pager-next-buttons></kendo-pager-next-buttons>
        <kendo-pager-input></kendo-pager-input>
        <kendo-pager-info></kendo-pager-info>
        <kendo-pager-page-sizes [pageSizes]="sizes"></kendo-pager-page-sizes>
    </ng-template>

    </kendo-grid>
</div>

<!----delete dialog-->
<kendo-dialog *ngIf="dialogDelete" [width]="450" [height]="150"  >
<div class="deleteTitle"> Are You Sure To Delete This Template ? </div>
<div class="buttonsD">
    <button kendoButton type="reset" (click)="cancelDelete()" class="cancelB">Cancel</button>   
    <button kendoButton  type="submit" (click)="yes()"class="yesB">Yes</button>
</div>
</kendo-dialog>
<!----historic dialog-->
<kendo-dialog *ngIf="showHistoric"  [width]="950" [height]="400"  >
    <div class="row">
      <div class="col">
        <div class="titleEmployeeTemplates"><span style="text-transform: uppercase;" >{{template.name}}</span> History</div>
      </div>
      <div class="col">
        <kendo-button icon="x" (click)="cancelView()" class="xButton" >
        </kendo-button>
      </div>
    </div>
    <p *ngFor="let i of gridHistoric " >
      {{i.templateHistoryCreatedBy}}
      <kendo-editor class="custom-editor" id="content" [iframe]="false" name="content"
       [(value)]="i.content">
     </kendo-editor>
    </p>
  </kendo-dialog>