<h1>Templates</h1>
  <div style="margin-bottom: 1%; margin-right: 2%; margin-top: 1%; text-align: right;">
    <kendo-button icon="add" *ngIf="opened" (click)="open()">Create New Template</kendo-button> 
  </div>
 <!-- <kendo-dialog
  title="Create A New Template" *ngIf="opened" (close)="close('cangggggggggcel')"
  [minWidth]="250" [width]="450">
  <p style="margin: 30px; text-align: center;">
    <app-add-template></app-add-template>
  </p>
</kendo-dialog>-->
  <!--<kendo-dialog-actions>
    <button kendoButton (click)="close('no')">Cancel</button>
    <button kendoButton (click)="close('yes')" themeColor="primary">
      Save
    </button>
  </kendo-dialog-actions>-->


<kendo-grid 
[kendoGridBinding]="gridData" [filterable]="true" 
[resizable]="true" 
[sortable]="true"
[pageable]="{
  buttonCount: 3,
  pageSizes: [5, 10, 20]
}"
[pageSize]="8">
  <kendo-grid-column field="id" title="ID"> </kendo-grid-column>
  <kendo-grid-column field="name" title="Name"> </kendo-grid-column>
  <kendo-grid-column field="language" title="Language"></kendo-grid-column>
  <kendo-grid-column field="content" title="Content"> </kendo-grid-column>
  <kendo-grid-column field="createdBy" title="CreatedBy"> </kendo-grid-column>
  <kendo-grid-column field="modifiedBy" title="ModifiedBy"> </kendo-grid-column>
  <kendo-grid-column field="project" title="Project"> </kendo-grid-column>
  <kendo-grid-column field="createdDate" title="CreatedDate"> </kendo-grid-column>
  <kendo-grid-column field="modifiedDate" title="ModifiedDate"> </kendo-grid-column>
  <kendo-grid-column field="action" title="Actions" > 
    <ng-template kendoGridCellTemplate let-dataItem>
      <button kendoButton icon="pencil" style="margin-right: 10%;" (click)="updateTemplate(this.dataItem.id)" >Edit</button>
      <button kendoButton icon="trash" (click)="deleteTemplate(this.dataItem.id)">Delete</button>
    </ng-template>
  
  </kendo-grid-column>
</kendo-grid>

<!--<div style="margin-bottom: 1%; margin-right: 2%; margin-top: 1%; text-align: right;">
  <kendo-button #anchor  icon="add" (click)="function()">Create New Template</kendo-button> 
  <kendo-popup [anchor]="anchor.element" *ngIf="show" [popupAlign]="popupAlign">
      <div class="popupClass">
        <app-add-template></app-add-template>
      </div>
  </kendo-popup>
</div>-->
<!--    <kendo-icon name="trash"></kendo-icon> -->
<!-- <div class="k-block">
    <button kendoButton [look]="'default'">Edit</button>
  </div>-->
<!-- [groupable]="true" [group]="groupBy"-->

<!--<div class="submit-form" >
  <div class="form-group">
    <label for="name">name</label>
    <input type="text" class="form-control" id="name"
    [(ngModel)]="model.Name">
    </div>
  <div class="form-group"> 
    <label for="language">language</label>
    <input type="text" class="form-control" id="language"
    [(ngModel)]="model.Language">
  </div>
  
</div>-->

<!--
<table>
    <thead>
        <th>Name</th>
        <th>Language</th>
    </thead>
    <tbody>
        <tr *ngFor="let i of gridData">
            <td>{{ i.name }}</td>
            <td>{{ i.language }}</td>
        </tr>
    </tbody>
</table>

-->