<kendo-dialog 
 *ngIf="opened" (close)="close('cancel')"
[minWidth]="250" [width]="1100" [height]="700" >
<div class="card m-3"  style="border-color: #fff; 
box-shadow: 0px 10px 30px 0px rgba(94, 61, 116, 0.687);
">
    <div class="card-header" style=" background-color: #fdf9ff; ">
        <div class="container">
        <span class="k-icon k-i-file-add" style="padding-bottom: 3%;font-size: 30px; color: #8d0f8b "></span> 
        <div class="titleT"> Create A New Template</div>
        </div>
    </div>      
    <div class="card-body">
        <form  [formGroup]="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Language</label>
                    <kendo-dropdownlist  
                     [data]="languages" class="form-control" id="language" 
                     formControlName="language" [(ngModel)]="addTemplateRequest.language">                
                    </kendo-dropdownlist>
                </div>
                <div class="form-group">
                    <label>Template Name</label>
                    <div class="input-field" >
                        <input class="form-control"
                        formControlName="name" type="text"
                         id="name" [(ngModel)]="addTemplateRequest.name" >
                    </div>
                </div>
                <div class="form-group">
                    <label>Project Name</label>
                    <kendo-dropdownlist 
                    [data]="projectNames" class="form-control" id="projectName"
                    formControlName="projectName"  [(ngModel)]="project.projectName">
                   </kendo-dropdownlist>
                </div>
                <div class="form-group">
                    <label>Content</label>
                    <kendo-editor class="form-control"  id="content" [iframe]="false" name="content"
                    #editor
                     [(ngModel)]="addTemplateRequest.content" [(value)]="addTemplateRequest.content" >
                        <kendo-toolbar>
                            <kendo-toolbar-button kendoEditorBoldButton></kendo-toolbar-button>
                            <kendo-toolbar-button kendoEditorItalicButton></kendo-toolbar-button>
                            <kendo-toolbar-button kendoEditorUnderlineButton></kendo-toolbar-button>
                            <kendo-toolbar-button kendoEditorStrikethroughButton></kendo-toolbar-button>
                            <kendo-upload></kendo-upload>
                            <kendo-toolbar-button
                            text="Upload Image"
                            (click)="openImage()"
                          ></kendo-toolbar-button>                                                      
                        </kendo-toolbar>
                    </kendo-editor>
                    
                    <app-image-dialog #upload [editor]="editor"></app-image-dialog>

                </div>      
            <kendo-dialog-actions>
                <button kendoButton (click)="onSubmit()" type="submit" class="addButton">Register</button>
                <button kendoButton type="reset" (click)="close('no')" class="addButton">Cancel</button>
              </kendo-dialog-actions>
        </form>
    </div>
</div>
</kendo-dialog>






<!--                 <kendo-editor
                    class="form-control"  id="content" [(value)]="addTemplateRequest.content" [iframe]="false"  
                    name="content" [(ngModel)]="addTemplateRequest.content">                 
                   </kendo-editor>
<kendo-editor    class="form-control"  id="content" [iframe]="false"  
name="content" [(ngModel)]="addTemplateRequest.content" [(value)]="addTemplateRequest.content" >
    <kendo-toolbar>
        <kendo-toolbar-button kendoEditorBoldButton></kendo-toolbar-button>
        <kendo-toolbar-button kendoEditorItalicButton></kendo-toolbar-button>
        <kendo-toolbar-button kendoEditorUnderlineButton></kendo-toolbar-button>
        <kendo-toolbar-button kendoEditorStrikethroughButton></kendo-toolbar-button>
        <kendo-toolbar-button kendoEditorInsertImageButton></kendo-toolbar-button>
        <kendo-toolbar-button
        text="Export as PDF"
        icon="pdf"
        (click)="pdf.saveAs('editor-content.pdf')"
        ></kendo-toolbar-button>
    </kendo-toolbar>
</kendo-editor>
-->