
<router-outlet></router-outlet>










<!--<kendo-calendar></kendo-calendar>
<kendo-grid 
[kendoGridBinding]="gridData"
[resizable]="true"
[filterable]="true"
[groupable]="true"
[group]="groupBy"
[sortable]="true"
[pageable]="{
  buttonCount: 3,
  pageSizes: [5, 10, 20]
}"
[pageSize]="8">
  <kendo-grid-column field="ProductID" title="ID"> </kendo-grid-column>
  <kendo-grid-column field="ProductName" title="Name"> </kendo-grid-column>
  <kendo-grid-column field="Category.CategoryName" title="Category">
  </kendo-grid-column>
  <kendo-grid-column field="UnitPrice" title="Price"> </kendo-grid-column>
</kendo-grid>
-->