<div class="row" >
    <div class="col-md-6" style="padding-top: 5%;">
      <div>
        <img src="{{ images[currentImageIndex] }}" class="home" />
      </div>
    </div>
    <div class="col-md-6" style="padding-top: 7%;">
      <div class="homeT1">
        Your satisfaction <br>is our top priority
      </div> 
      <div class="homeT2">
        Thank you <strong style="  text-transform: uppercase;">{{userName}} </strong> for joining <strong>DTG</strong>. <br>
        We invite you to explore our extensive range of <br> services
         and discover how we can help you attain<br> your aspirations.        </div>
       <br><br>
  </div>
</div>    
<button type="button" class="btn btn-sm btn-success" (click)="showSuccess()">Success</button>