
<div class="row">
    <div class="col-md-6" >
      <img src="assets/images/home.jpg" alt="Home" class="home" >
    </div>
    <div class="col-md-6" style="padding-top: 5%;">
      <div class="homeT1">
        Your satisfaction <br>is our top priority
      </div>
      <div class="homeT2">
        Thank you <strong style="  text-transform: uppercase;">{{userName}} </strong> for joining <strong>DTG</strong>. <br>
        We invite you to explore our extensive range of <br> services
         and discover how we can help you attain<br> your aspirations.        </div>
       <br><br>
       <div class="row" >
        <div  style="padding-top: 1%; font-family: 'Times New Roman', Times, serif; font-size: 17px;"> 
          Click This button to learn more.    
          <button kendoButton class="buttonDrawer" icon="forward">
            Click Here
          </button>
        </div>
       </div> 
 <!--      <div class="row">
        <div class="col-sm-6" style="padding-top: 1%; font-family: 'Times New Roman', Times, serif; font-size: 17px;"> 
          Click This button to learn more.
        </div>
        <div class="col-sm-6">
            <button kendoButton class="buttonDrawer"
            icon="forward"
            >Click Here</button>
                        (click)="drawer.toggle()"
        </div>
       </div>-->
  </div>
</div>