<kendo-dialog *ngIf="openEdit" [width]="500" >
    <div >
      <span class="k-icon k-i-pencil" style="padding-bottom: 3%;font-size: 30px; color: #941e9a "></span> 
      <div class="titleP"> Edit Employee</div>
    </div>
    <form  [formGroup]="ngEditForm" >        
        <div class="form-group">
          <label> Name</label>
          <div class="input-field" >
              <input class="form-control"
              formControlName="employeeName" type="text"
               id="employeeName" [(ngModel)]="employee.employeeName " >
          </div>
        </div>
        <div class="form-group">
            <label> Email Adress</label>
            <div class="input-field" >
                <input class="form-control"
                formControlName="employeeEmail" type="text"
                id="employeeEmail" [(ngModel)]="employee.employeeEmail" >
            </div>
        </div>
        <div class="form-group">
            <label> Role</label>
            <kendo-dropdownlist 
            [data]="roles" [textField]="'roleName'" [valueField]="'roleName'" formControlName="roleName"
            [(ngModel)]="role" id="role.roleId" >
            </kendo-dropdownlist>
        </div>
        <div> 
            <label> Project Authorization </label>
            <kendo-grid [kendoGridBinding]="gridEditData"  
            [style]="{'width':'100%'}">
                <kendo-grid-column  title="Project" >
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div class="form-group" >
                                {{dataItem.projectName}}
                        </div>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="read" title="Read" >
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div class="form-group">
                            <input type="checkbox" kendoCheckBox
                            id="projectAuthorization.read"
                            (click)="changeStatus(dataItem, 'read')"
                            [checked]="dataItem.read" />
                        </div>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="write" title="Write" >
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div  class="form-group" >
                            <input type="checkbox"  kendoCheckBox
                            (click)="changeStatus(dataItem, 'write')"
                             id="projectAuthorization.write" 
                             [checked]="dataItem.write" />
                        </div>
                    </ng-template>
                </kendo-grid-column>
                
            </kendo-grid>
        </div>
    </form>
    <kendo-dialog-actions>
        <button kendoButton type="reset" (click)="closeDialogEdit()" class="kendoActionCancel">Cancel</button>
        <button kendoButton  (click)="saveEdit(idToEdit,employee)" class="kendoActionSave">Save</button>
    </kendo-dialog-actions>
    
</kendo-dialog> 