<kendo-dialog *ngIf="openEdit" [width]="500" >
    <div class="titleEditDialog">
        <span class="k-icon k-i-pencil" style="padding-bottom: 1%;font-size: 18px; color: #286ea1 "></span> 
        <div class="editEmployeeTitle"> Edit employee</div>
      </div>     
    <form  [formGroup]="ngEditForm" >
        <div class="form-group">
            <div class="row">
              <div class="col-2">
                <label class="label-addEmployee">Name</label>
              </div>
              <div class="col-10">
                <div class="input-field-addEmployee">
                  <input class="form-control" formControlName="employeeName" 
                  type="text" id="employeeName" [(ngModel)]="employee.employeeName">
                </div>
              </div>
            </div>
        </div>
        <br>  
        <div class="form-group">
            <div class="row">
              <div class="col-2">
                <label class="label-addEmployee"> E-mail </label>
              </div>
              <div class="col-10">
                <div class="input-field-addEmployee">
                  <input class="form-control" formControlName="employeeEmail" 
                  type="mail" id="employeeEmail" [(ngModel)]="employee.employeeEmail">
                </div>
              </div>
            </div>
        </div>
        <br>  
        <div class="form-group">
            <div class="row">
              <div class="col-2">
                <label class="label-addEmployee">Role</label>
              </div>
              <div class="col-10">
                <kendo-dropdownlist 
                [data]="roles" [textField]="'roleName'" [valueField]="'roleName'" formControlName="roleName"
                [(ngModel)]="role" id="role.roleId" >
                </kendo-dropdownlist>
              </div>
            </div>
        </div>
       <br>
        <div> 
            <label class="label-Project-Authorization"> Project Authorization </label>
            <br> <br>
            <div class="k-grid" >
                <kendo-grid [kendoGridBinding]="gridEditData"  
                [style]="{'width':'100%'}">
                    <kendo-grid-column  title="Project" >
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div class="form-group" >
                                    {{dataItem.projectName}}
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="read" title="Read" >
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div class="form-group">
                                <input type="checkbox" kendoCheckBox
                                id="projectAuthorization.read"
                                (click)="changeStatus(dataItem, 'read')"
                                [checked]="dataItem.read" />
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="write" title="Write" >
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div  class="form-group" >
                                <input type="checkbox"  kendoCheckBox
                                [disabled]="!dataItem.read"
                                (click)="changeStatus(dataItem, 'write')"
                                id="projectAuthorization.write" 
                                [checked]="dataItem.write" />
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                    
                </kendo-grid>
            </div>
        </div>
    </form>
    <div class="form-group">
        <div class="row" style="margin-left: 20%; margin-top: 5%;" >
          <div class="col">
            <button kendoButton type="reset" (click)="closeDialogEdit()" class="cancelEditEmployee">Cancel</button>
            <button   (click)="saveEdit(idToEdit,employee)" class="saveEditEmployee">Save</button>
          </div>
        </div>
    </div>      
</kendo-dialog>  