<div class="title">
  <h2>List Of All Templates</h2>
  <h2>List Of All Templates</h2>
</div>  
<!--[resizable]="true" 
[sortable]="true"
[pageable]="{
  buttonCount: 3,
  pageSizes: [5, 10, 20]
}"
[pageSize]="8"-->
<div class="container">
  <kendo-grid 
[kendoGridBinding]="gridData" 
[style]="{'width':'100%'}">
  <kendo-grid-column field="name" title="Name" [width]="150" > 
</kendo-grid-column>

  <kendo-grid-column field="language" title="Language" [width]="140"></kendo-grid-column>

  <kendo-grid-column field="modifiedBy" title="Modified By" [width]="140"
> 
    <ng-template kendoGridCellTemplate let-dataItem>
      {{dataItem?.templateModifiedBy?.employeeName}}
    </ng-template>  
  </kendo-grid-column>

  <kendo-grid-column field="createdDate" title="CreatedDate" [width]="200"> </kendo-grid-column>

  <kendo-grid-column field="modifiedDate" title="ModifiedDate" [width]="150"> </kendo-grid-column>

  <kendo-grid-column field="createdBy" title="Created By" [width]="140">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{dataItem?.templateCreatedBy?.employeeName}}
    </ng-template>  
  </kendo-grid-column>

  <kendo-grid-column field="project" title="Project" [width]="150">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{dataItem?.project?.projectName}}
    </ng-template>  
  </kendo-grid-column>

  <kendo-grid-column field="action" title="Actions" [width]="200"> 
    <ng-template kendoGridCellTemplate let-dataItem>
      <button kendoButton icon="pencil" class="button" (click)="updateTemplate(this.dataItem.templateId)" >Edit</button>
      <button kendoButton icon="trash" class="button"  (click)="deleteTemplate(this.dataItem.templateId)">Delete</button>
    </ng-template>
  
  </kendo-grid-column>
</kendo-grid>

</div>