<div class="row" style="  margin-top: 2%; margin-left: 7%; " >
  <div class="col" >
      <span class="templateListTitle" >Template List </span>
      <kendo-button (click)="openDialog()" class="addTemplateButton" >
        <span style="font-size: 16px; font-weight: bold; padding-right: 2%; ">+</span> 
        Create Template
      </kendo-button>
  </div>
</div>

<br>
<div class="row">
  <div class="col-md-3" >
    <div class="filterTitle">Choose Your Filter :</div>
  </div>
  <div class="col-md-3" >
    <label style="color: #484d51 ;" >Project Name</label>
    <kendo-dropdownlist class="custom-dropdown"
    [data]="projects" textField="projectName" #projectList
    [(ngModel)]="project" id="project.projectId" (valueChange)="onProjectChange($event)">
    </kendo-dropdownlist>
  </div>
  <div class="col-md-3" >
    <label style="color: #484d51 ;" >Language</label>
    <kendo-dropdownlist 
    [data]="languages"  #languageList
    [(ngModel)]="selectedLanguage" id="selectedLanguage" (valueChange)="onLanguageChange($event)">
    </kendo-dropdownlist>
  </div>
  <div class="col-md-3" >
    <button kendoButton icon="minus-outline" class="resetButton"  (click)="reset()">Reset Filter</button>
  </div>
</div>


<br>
<!--  [pageable]="true"  
  [pageSize]="pageSize"-->
<div class="k-grid">
  <kendo-grid   
  [kendoGridBinding]="gridData"  

  [style]="{'width':'100%'}">
  <kendo-grid-column field="name" title="Name" [width]="130"></kendo-grid-column>
  <kendo-grid-column field="language" title="Language" [width]="120"></kendo-grid-column>

  <kendo-grid-column field="modifiedBy" title="Modified By" [width]="140"> 
    <ng-template kendoGridCellTemplate let-dataItem>
      {{dataItem?.templateModifiedBy?.employeeName}}
    </ng-template>  
  </kendo-grid-column>

  <kendo-grid-column field="createdDate" title="Creation Date" [width]="150"> </kendo-grid-column>
  <kendo-grid-column field="modifiedDate" title="Updating Date" [width]="150"> </kendo-grid-column>

  <kendo-grid-column field="createdBy" title="Created By" [width]="140"   >
    <ng-template kendoGridCellTemplate let-dataItem  >
      <td [ngClass]="{'user-line': dataItem?.templateCreatedBy?.employeeName === user.employeeName }"> 
        {{dataItem?.templateCreatedBy?.employeeName}} 
      </td>
    </ng-template>  
  </kendo-grid-column>

  <kendo-grid-column field="project" title="Project" [width]="150">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{dataItem?.project?.projectName}}
    </ng-template>  
  </kendo-grid-column>
  <kendo-grid-column field="action" title="Actions" [width]="150"> 
    <ng-template kendoGridCellTemplate let-dataItem>
      <button kendoButton class="circular-button-edit" (click)="updateTemplate(this.dataItem.templateId)">
        <span class="k-icon k-i-pencil"></span>
      </button>      
      <button kendoButton class="circular-button-delete" (click)="ShowDeleteTemplate(this.dataItem.templateId)">
        <span class="k-icon k-i-trash"></span>
      </button>
      <button kendoButton class="circular-button-view" (click)="viewTemplateHistory(this.dataItem.templateId)">
        <span class="k-icon k-i-eye"></span>
      </button>
    </ng-template>
  </kendo-grid-column>

  <ng-template
    kendoPagerTemplate
    let-totalPages="totalPages"
    let-currentPage="currentPage"
  >
    <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
    <kendo-pager-numeric-buttons
      [buttonCount]="buttonCount"
    ></kendo-pager-numeric-buttons>
    <kendo-pager-next-buttons></kendo-pager-next-buttons>
    <kendo-pager-input></kendo-pager-input>
    <kendo-pager-info></kendo-pager-info>
    <kendo-pager-page-sizes [pageSizes]="sizes"></kendo-pager-page-sizes>
 </ng-template>
 
</kendo-grid>

</div>

<!----delete dialog-->
<kendo-dialog *ngIf="dialogDelete" [width]="350" height="auto"  >
  <div class="deleteTitle"> Are you sure you want to Delete this Template ? </div>
  <div class="buttonsD">
    <button kendoButton type="reset" (click)="cancelDelete()" class="cancelDelete">Cancel</button>   
    <button kendoButton  type="submit" (click)="yes()"class="yesDelete">Yes</button>
  </div>
</kendo-dialog>
<!----historic dialog-->
<kendo-dialog *ngIf="showHistoric"  [width]="800"  height="auto" >
  <div class="row">
    <div class="col">
      <div class="titleTemplateHistory"><span style="text-transform: uppercase;" >{{template.name}}</span> History</div>
    </div>
    <div class="col">
      <kendo-button icon="x" (click)="cancelView()" class="xButton" >
      </kendo-button>
    </div>
  </div>
  <div class="row card cardHistoryLine" *ngFor="let i of gridHistoric">
    <div class="col-5">
      <p class="modifiedByText">
        <span class="k-icon k-i-user" style="float: left;font-size: 15px; color: #333; "></span> 
        <span style="padding-left: 5%; font-weight: bold;">{{i.templateHistoryCreatedBy}}</span>
      </p>
    </div>
    <div class="col-7">
      <div class="contentContainer" >
        <span [innerHTML]="i.content"></span>
      </div>
    </div>
  </div>
  

</kendo-dialog>


    <!--<kendo-editor class="custom-editor" id="content" [iframe]="false" name="content"
     [(value)]="i.content">
   </kendo-editor>-->