<!--<kendo-dialog *ngIf="isOpened"  >
  <div class="row">
    <div class="col">
      <div class="title">
        <h2>{{employee.employeeName}} Templates</h2>
        <h2> {{employee.employeeName}} Templates</h2>
      </div>  
    </div>
    <div class="col">
      <kendo-button icon="x" (click)="returnToList()" class="xButton" >
      </kendo-button>
    </div>
  </div>
  <kendo-grid 
  [kendoGridBinding]="gridData"
  class="kendoGrid"
  [style]="{'width':'100%'}" >
    <kendo-grid-column field="name" title="Name"> </kendo-grid-column>
    <kendo-grid-column field="language" title="Language"></kendo-grid-column>
    <kendo-grid-column field="createdDate" title="CreatedDate"> </kendo-grid-column>
    <kendo-grid-column field="projectId" title="Project Name"> </kendo-grid-column>
  </kendo-grid>
</kendo-dialog>

-->

<!--<div class="wrapper">
  
  <kendo-tabstrip (tabSelect)="onTabSelect($event)">
    <kendo-tabstrip-tab title="All Templates" [selected]="true">
      <ng-template kendoTabContent>
        <div class="content">
          <app-all-templates></app-all-templates>
        </div>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="My Templates">
      <ng-template kendoTabContent>
        <div class="content">
          <app-created-template-employee [id]="CId" ></app-created-template-employee>
        </div>
      </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab >
      <ng-template kendoTabTitle > 
        <div style="margin-bottom: 1%; margin-right: 2%; margin-top: 1%; text-align: right;">
          <kendo-button icon="add" *ngIf="opened" (click)="open()" >Create New Template</kendo-button> 
        </div>   
      </ng-template>
    </kendo-tabstrip-tab>

  </kendo-tabstrip>
</div>-->