.container{
  height: 600px;
  overflow: auto;

}
.title {
  padding-bottom: 4%;
  padding-top: 3%;
  letter-spacing: 0.2em; 
  padding-left: 50%;  

}

.title h2 {
  color: #fff;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  transform: translate(-50%, -50%);

}
.title h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #4c036d  ;
}

.title h2:nth-child(2) {
  color:  #652782;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.wrapper {
    display: flex;
    justify-content: center;
  }
  kendo-tabstrip {
    width: 380px;
  }
  .content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    width: 120px;
    height: 120px;
  }
  h2 {
    font-size: 4em;
    font-weight: lighter;
  }
  h2 > span {
    padding-left: 5px;
    font-size: 0.3em;
    vertical-align: top;
  }
/****** kendo grid ***/

::ng-deep .k-grid-header .k-header{
  background-color: #4c036d ;
  color : #fff;
  line-height: 2em;
  font-size:21px;
  font-family : Georgia, 'Times New Roman', Times, serif ;   
  border-left: 2px solid #fff;

}
::ng-deep .k-grid td{
   background-color :  #f7f0fc;
   color :  #4c036d ;
   line-height :  1em ;
   font-size : 17px ;
   font-family : Georgia, 'Times New Roman', Times, serif ;
   font-weight : lighter ;   

}
::ng-deep .k-grid tr.k-alt td {
  border-top: 2px solid #ffffff;    border-left: 1.5px solid #fff;

}

::ng-deep .k-grid tr:not(.k-alt) td {
  border-top: 2px solid #ffffff;    border-left: 1.5px solid #fff;

}
