
<div class="titleTest">It's Time to test one of these templates</div>

<div class="card">
<div class="card-body">
    <div class="row" style="padding-top: 10%;">
        <div class="col-md-6" style=" border-right: 1px solid rgb(56, 51, 51);">
        <div class="titleEmail">Access To SendEmail Space ? </div>
            <div class="titleEmail0">Click Down to Send Your Email</div>    
            <div class="buttonEmailContainer">
                <kendo-button icon="envelop-link" class="EmailButton" routerLink="SendEmail">Send Email</kendo-button>
            </div>
        </div>
    <div class="col-md-6" style="">
        <div class="titleEmail">Access To GeneratePDF Space ? </div>
            <div class="titleEmail0">Click Down to generate PDF Document</div>    
            <div class="buttonEmailContainer">
                <kendo-button icon="file-pdf" class="PDFButton" routerLink="GeneratePDF">Generate PDF Document</kendo-button>
            </div>
        </div>
    </div>
    </div>
</div>
  
