<div class="testTitle"> Explore Templates</div>
<div class="card-container">
    <div class="card generateCard">
        <img src="assets/images/PDF.jpg" height="180px" >
        <div class="generateTitleCard">
            Create Document
        </div>
        <div class="generateTextCard">
            To create a PDF document using your chosen template 
            and download it on your PC, <br> simply click here.
        </div>
        <br>
        <button kendoButton icon="file-pdf" class="PDFButton" routerLink="GeneratePDF">Generate Document</button>
    </div>
    <div class="card sendCard">
        <img src="assets/images/email.png" height="180px" >
        <div class="generateTitleCard">
            Send Email
        </div>
        <div class="generateTextCard">
            To send an email using your chosen template and deliver it with the desired information, 
             <br> simply click here.
        </div>
        <br>
        <button kendoButton icon="envelop-link" class="emailButton" routerLink="SendEmail">Send Email</button>
    </div>
  </div>